<app-nav-bar></app-nav-bar>

<div class="flex overflow-hidden bg-white pt-16">

  <app-sidebar></app-sidebar>

  <div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>

  <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
<script src="https://demo.themesberg.com/windster/app.bundle.js"></script>
<script defer=""
  src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
  integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
  data-cf-beacon="{&quot;rayId&quot;:&quot;70cc58276a227361&quot;,&quot;token&quot;:&quot;3a2c60bab7654724a0f7e5946db4ea5a&quot;,&quot;version&quot;:&quot;2021.12.0&quot;,&quot;si&quot;:100}"
  crossorigin="anonymous"></script>

<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1"
  xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
  style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
  <defs id="SvgjsDefs1002"></defs>
  <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
  <path id="SvgjsPath1004" d="M0 0 "></path>
</svg>
